<div class="container">
    <div class="header-section">
        <h1>With Love From the Member's only clubhouse</h1>

        <div class="member-info">
            <% if member_signed_in? %>
                <p>Hi, <strong><%= current_member.name %></strong>!</p>
                <button><%= link_to 'share a post', new_post_path %></button><br> <br>
                <%= button_to 'sign out', destroy_member_session_path, method: :delete, class: "btn btn-outline-danger" %>
            <% else %>
                <p>Join the clubhouse to see the authors of the posts</p>
                <p>Already a member? <%= button_to "Check in", new_member_session_path %></p>
                <p>OR</p>
                <%= link_to "Join Club", new_member_registration_path, class: "btn btn-primary" %> 
            <% end %>
        </div>
    </div>

    <div>
        <h2>Content Feed!</h2>

        <% @posts.each do |post| %>
            <div>
                <h3><%= post.title %></h3>
                <p><%= post.content %></p><span>posted <%= time_ago_in_words(post.created_at) %>ago</span>
            </div>
            <% if member_signed_in? %>
                <p><em> By: <%= post.member.name %></em></p> 
            <% end %>
        <% end %>
    </div>
</div>