<div class="container">
    <div class="header-section">
        <h1>With Love From the Member's only clubhouse</h1>

        <div class="member-info">
            <% if member_signed_in? %>
                <p>Hi, <%= current_member.name %>!</p>
                <%= link_to 'share a post', new_post_path %>
                <%= link_to 'sign out', destroy_member_session_path, method: :delete, class: "btn btn-outline-danger" %>
            <% else %>
                <p>Join the clubhouse to see the authors of the posts</p>
                <%= link_to "Sign Up", new_member_session_path, class: "btn btn-primary" %>
                <%= link_to "Join Club", new_member_registration_path, class: "btn btn-success" %>
            <% end %>
        </div>
    </div>

    <div>
        <h2>Anonymous Posts</h2>

        <% @posts.each do |post| %>
            <div>
                <h3><%= post.title %></h3>
                <p><%= post.body %></p>
            </div>
        <% end %>
    </div>
</div>