<%= form_with model: @post do |form| %>

    <% if @post.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error")%> 
            prohibited this post from being saved!</h2>

            <ul>
                <% @post.errors.each do |error| %>
                    <li><% error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= form.text_area :title, placeholder: "Add a short title here"%>
    </div>
    <div>
        <%= form.text_area :content, placeholder: "What's on your mind?" %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>